/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .gray-white {
    background-color: theme(colors.gray.DEFAULT);
    color: theme(colors.white.DEFAULT);
  }
  .gray-primary {
    background-color: theme(colors.gray.DEFAULT);
    color: theme(colors.primary.DEFAULT);
  }
  .primary200-white {
    background-color: theme(colors.primary.200);
    color: theme(colors.white.DEFAULT);
  }
  .primary-dark {
    background-color: theme(colors.primary.DEFAULT);
    color: theme(colors.bg-color);
  }
  .red-white {
    background-color: theme(colors.red.DEFAULT);
    color: theme(colors.white.DEFAULT);
  }
  .green-white {
    background-color: theme(colors.green.DEFAULT);
    color: theme(colors.white.DEFAULT);
  }
}

body {
  background-color: #0b0c10;
}
select[editable] > button {
  color: red !important;
  stroke: #f00 !important;
}

.bg-red-animated {
  background-color: theme(colors.red.DEFAULT);
  animation: blink 1s infinite;
}
@keyframes blink {
  0% {
    transform: scale(0.5);
    background: theme(colors.red.DEFAULT);
  }
  50% {
    transform: scale(1);

    background-color: #e78c8c;
  }
  100% {
    transform: scale(0.5);
    background: theme(colors.red.DEFAULT);
  }
}
